* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.main {
  background: linear-gradient(rgba(0, 0, 12, 0.62), rgba(54, 54, 102, 0.62) ),url(coooll.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.topbar img {
  width: 50px;
  margin: 10px 80px;
  cursor: pointer;
  transition: rotate 1000ms;
}

.topbar img:hover {
  rotate: 180deg;
}

.topbar ul {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  position: relative;
  animation: ull 1500ms linear 300ms 1 forwards;
  
}

@keyframes ull {
  0% {top: -100px;}
  100% {top: 0;}
}

.topbar ul li {
  list-style: none;
  margin: 10px 20px;
  padding: 10px 0;
  letter-spacing: 1.6;
  position: relative;
}

.topbar ul li::after {
  content: '';
  height: 2.8px;
  width: 0;
  background-color: rgb(251, 255, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 1000ms;
}

.topbar ul li a:hover {
  color: rgb(251, 255, 0);
}

.topbar ul li:hover:after {
  width: 100%;
}

.topbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 1000ms;
}

.page {
  text-align: center;
  color: #fff;
  
}



.page h1 {
  padding-bottom: 210px;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  animation-name: headings;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.headings {}

@keyframes headings {
  0% { top: -1000px; }
  100% { top: 150px; }
}

.page p {
  font-size: 14px;
  padding-bottom: 20px;
  position: relative;
  animation-name: p;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes p {
  0% { left: -1000px; }
  100% { left: 0px; }
}

.page button {
  padding: 15px 50px;
  border: 1px solid rgb(160, 177, 5);
  border-radius: 25px;
  margin: 20px 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  animation: page 1000ms linear  1 forwards;
}

@keyframes page {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.page button span {
   height: 100%;
   width: 0;
   background-color: rgb(160, 177, 5);
   position: absolute;
   left: 0;
   bottom: 0;
   border-radius: 25px;
   color: #fff;
   z-index: -1;
   transition: width 1000ms;
}

.page button:hover span{
  width: 100%;
}

.page h1 span {
  color: rgb(217, 255, 0);
}

.btn {
  display: flex;
  justify-content: center;
}

.sp1 {
  position: relative;
  animation: sp1 4000ms ease-in 400ms infinite ;
}

@keyframes sp1 {
  0% { transform: translateY(-4px); }
 100% { transform: translateY(0px); }
}

.sp2 {
  position: relative;
  animation: sp2 4000ms ease-out  infinite ;
}

@keyframes sp2 {
  0% { transform: translateY(4px);  }
 100% { transform: translateY(0px); }
}